<!DOCTYPE html>
<html>
<head>
    <title>Zombies</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
</head>
<body>

<h1>Brains</h1>
<a href="/zombies/new">Create New Zombie</a>
<ul>
<% zombies.forEach(function(e){ %>
<li>Name: <a href="/zombies/<%=e.id%>"><%=e.name%></li>
<form  method="POST" action="/zombies/<%=e.id%>?_method=DELETE">
    <input type="submit" value="delete thread">
</form>   
<% }) %>
</ul>



</body>
</html>