<!DOCTYPE html>
<html>
<head>
    <title></title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/normalize.min.css">
</head>
<body>
<h1> CREATE NEW ZOMBIES</h1>
<form action="/zombies" method="POST">
Name:
<input type="text" name="name">
Age:
<input type="text" name="age">
<input type="hidden" name="zombie" value="false">
Location:
<input type="text" name="location">
Rage:
<input type="text" name="rage">
<input type="submit" value="CREATE">

</form>
</body>
</html>